<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="connectionstring" connectionString="Data Source=safespace.database.windows.net;Initial Catalog=SafeSpace;Persist Security Info=True;User ID=heta;Password=Meet@12345"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="IBM.Data.DB2, Version=9.7.4.4, Culture=neutral, PublicKeyToken=7C307B91AA13D208"/>
        <add assembly="IBM.Data.DB2, Version=9.0.0.2, Culture=neutral, PublicKeyToken=7C307B91AA13D208"/>
        <add assembly="IBM.Data.DB2.ASP, Version=9.5.2.2, Culture=neutral, PublicKeyToken=7C307B91AA13D208"/>
        <add assembly="IBM.Data.DB2.Entity, Version=9.7.4.4, Culture=neutral, PublicKeyToken=7C307B91AA13D208"/>
        <add assembly="IBM.Data.DB2.Entity, Version=9.0.0.3, Culture=neutral, PublicKeyToken=7C307B91AA13D208"/>
        <add assembly="IBM.Data.Informix, Version=9.0.0.2, Culture=neutral, PublicKeyToken=7C307B91AA13D208"/>
        <add assembly="IBM.Data.Informix, Version=9.7.4.4, Culture=neutral, PublicKeyToken=7C307B91AA13D208"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>